.heading {
  text-align: center;
}
.menu {
  background-color: rgb(16, 29, 105);
  text-align: center;
  padding: 2rem;
}
.m1 {
  color: azure;
  padding-right: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  padding: 2rem;
}
.m1:hover {
  background-color: rgb(23, 42, 150);
  font-weight: bold;
}

#link {
  text-decoration: none;
}
.why {
  background-image:url(./images/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
  text-align: center;
  padding: 8px;
}
.readmore{
    color: azure;
    font-size: 1.5rem;
    background: rgb(10, 134, 184);
    padding: 10px;
    padding-left: 15px; 
    padding-right: 15px;
    
}
.readmore:hover{
    background: rgb(122, 204, 252);
}
.portfolio {
  color: rgb(23, 139, 139);
  text-align: center;
  padding: 0.5rem;
}
.remote {
    color: azure;
  background: rgb(5, 66, 53);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 0.5rem;
}
footer {
  font-size: .85rem;
  background: #2fcbe0;
  color: azure;
  padding: .5rem;
  text-align: center;
}
