footer{
background: rgb(39, 130, 248);
color: azure;
padding: 1rem;
}
.why{
    background: rgb(51, 68, 167);
    color: azure;
    text-align: center;
    padding: .5rem;
}
.portfolio{
    color: rgb(23, 139, 139);
    text-align: center;
    padding: .5rem;
}
.remote{
    background: rgb(51, 68, 167);
    color: azure;
    text-align: center;
    padding: .5rem;
}
.f1{
    padding: 10px;
    text-align: left;
}
.f2{
    padding: 10px;
    text-align: right;
}